@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Nunito+Sans:wght@600;700&display=swap');
html {
    height: 500px;
    width: 350px;
}
body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    /* height: 350px; */
}
#plugin_name {
    width: 100%;
    height: 4em;
    margin: 0 0;
    /* background-color: #195975; */
    background-color: #5858bc;
}
h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 18px;
}
h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    color: white;
    font-size: 25px;
    padding: 18px;
    text-align: center;
}
.rounded-circle {
    background: #58bc8a;
    width: 9rem;
    height: 9rem;
    padding: 10px;
    clear: both;
    align-content: center;
    margin: 0 auto; 
}

.rounded-circle:hover{
    background: #e46666;
    cursor: pointer;
    user-select: none;
}

#site_score{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    top: 45px;
    /* margin-left: 3px; */
    text-align: center;
    font-size: 40px;
}

#site_status{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    top: 38px;
    /* margin-left: 3px; */
    text-align: center;
    font-size: 18px;
    padding: 0px;
}

#site_msg{
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}

button{
    display: flex;  
    justify-content: center;  
    align-items: center;
    width: 10em;
    background-color: #5858bc;
    color: white;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin: 10px auto;
    padding: 8px;
}

button:hover{
    background-color: #afafaf;
    color: white;
    
}

.show-results{
    padding: 10px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 2px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #fff;
}

iframe {
    margin: 10px;
    display: inline-block;
}

a {
    text-align: center;
    display: block;
    color: #5858bc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description{
    font-family: 'Nunito Sans', sans-serif;
}